<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Fake VIN gen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/animatedCursor.css">
<body class="cursor">
<div id="div">

        <span id="button" onmouseOver="moveIt()" onfocus="moveIt(); this.blur()">
           <a href="/okay"> <button class="button" onmouseover="moveIt()">НАЖМИ МЕНЯ</button></a>
        </span>

    <div>
        <img id="cat1" src="img/cat_left.gif"/>
        <img id="cat2" src="img/cat_center.gif"/>
        <img id="cat3" src="img/cat_right.gif"/>
    </div>
    <div id="footer">
        <h1>
            <a id="href" href="/restvin">Перейти на REST-версию</a>
        </h1>
    </div>
</div>
<script src="js/emoji.js"></script>
<script src="js/movingButton.js"></script>
</body>
</html>