<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Vin generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style type="text/css">
    #div {
        cursor: none;
        position: fixed;
        left: 0; bottom: 0;
        width: 100%;
        height: 100%;
    }

    .button {
        background-color: #faddff;
        border-color: black;
        color: black;
        padding: 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        border-radius: 100%;
        cursor: none;
    }

    #button{
        cursor: none;
    }

    #footer {
        cursor: none;
        position: fixed;
        left: 0; bottom: 0;
        width: 100%;
    }
</style>
<body>
    <div id="div">
        <span id="button" style="position:relative;z-index:10;cursor:none" onmouseOver="moveIt()" onfocus="moveIt(); this.blur()">
            <button class="button" onmouseDown="moveIt()" onmouseover="moveIt()" onfocus="moveIt();this.blur()">НАЖМИ МЕНЯ</button>
        </span>
        <div>
            <img src="https://i.gifer.com/UwMq.gif" style="position:fixed;" />
            <img src="https://i.gifer.com/Xjgt.gif" style="position:fixed;left:600px" />
            <img src="https://i.gifer.com/W3sT.gif" style="position:fixed;left:1200px;top:227px" />
        </div>
        <div id="footer">
            <h1>
                <a href="/generatevin" style="position:relative;left:40%;color:#ff37f1"> Перейти на REST-версию</a>
            </h1>
        </div>
    </div>
    <script>
        function getObj(objID)
        {
            if (document.getElementById) {return document.getElementById(objID);}
            else if (document.all) {return document.all[objID];}
            else if (document.layers) {return document.layers[objID];}
        }

        var width = screen.width;
        var height = screen.height;
        var ie4 = document.all;
        var ns6 = document.getElementById&&!document.all;
        cobj = getObj("button");

        function moveIt(){
            y = Math.floor(Math.random() * (height - 250));
            x = Math.floor(Math.random() * (width - 250));
            if (ie4){
                cobj.style.top  = y;
                cobj.style.left = x;
            }
            else if (ns6){
                cobj.style.top  = y+"px";
                cobj.style.left = x+"px";
            }
        }

        (function emojiCursor() {

            var possibleEmoji = ["😀", "😂", "😆", "😊", "㋛", "😍", "😎", "🤣", "🤩", "😊"];
            var width = window.innerWidth;
            var height = window.innerHeight;
            var cursor = {x: width/2, y: width/2};
            var particles = [];

            function init() {
                bindEvents();
                loop();
            }

            // Bind events that are needed
            function bindEvents() {
                document.addEventListener('mousemove', onMouseMove);
                document.addEventListener('touchmove', onTouchMove);
                document.addEventListener('touchstart', onTouchMove);

                window.addEventListener('resize', onWindowResize);
            }

            function onWindowResize(e) {
                width = window.innerWidth;
                height = window.innerHeight;
            }

            function onTouchMove(e) {
                if( e.touches.length > 0 ) {
                    for( var i = 0; i < e.touches.length; i++ ) {
                        addParticle( e.touches[i].clientX, e.touches[i].clientY, possibleEmoji[Math.floor(Math.random()*possibleEmoji.length)]);
                    }
                }
            }

            function onMouseMove(e) {
                cursor.x = e.clientX;
                cursor.y = e.clientY;

                addParticle( cursor.x, cursor.y, possibleEmoji[Math.floor(Math.random()*possibleEmoji.length)]);
            }

            function addParticle(x, y, character) {
                var particle = new Particle();
                particle.init(x, y, character);
                particles.push(particle);
            }

            function updateParticles() {

                // Updated
                for( var i = 0; i < particles.length; i++ ) {
                    particles[i].update();
                }

                // Remove dead particles
                for( var i = particles.length -1; i >= 0; i-- ) {
                    if( particles[i].lifeSpan < 0 ) {
                        particles[i].die();
                        particles.splice(i, 1);
                    }
                }

            }

            function loop() {
                requestAnimationFrame(loop);
                updateParticles();
            }

            /**
             * Particles
             */

            function Particle() {

                this.lifeSpan = 150; //ms
                this.initialStyles ={
                    "position": "absolute",
                    "display": "block",
                    "pointerEvents": "none",
                    "z-index": "10000000",
                    "fontSize": "35px",
                    "will-change": "transform"
                };

                // Init, and set properties
                this.init = function(x, y, character) {

                    this.velocity = {
                        x:  (Math.random() < 0.5 ? -1 : 1) * (Math.random() / 2),
                        y: 1
                    };

                    this.position = {x: x - 33, y: y - 35};

                    this.element = document.createElement('span');
                    this.element.innerHTML = character;
                    applyProperties(this.element, this.initialStyles);
                    this.update();

                    document.body.appendChild(this.element);
                };

                this.update = function() {
                    this.position.x += this.velocity.x;
                    this.position.y += this.velocity.y;
                    this.lifeSpan--;

                    this.element.style.transform = "translate3d(" + this.position.x + "px," + this.position.y + "px,0) scale(" + (this.lifeSpan / 150) + ")";
                }

                this.die = function() {
                    this.element.parentNode.removeChild(this.element);
                }

            }

            function applyProperties( target, properties ) {
                for( var key in properties ) {
                    target.style[ key ] = properties[ key ];
                }
            }

            init();
        })();

    </script>
</body>
</html>